/* Imported font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:auto;
    font-family: 'Montserrat', sans-serif;
    margin: 60px 0;
    cursor: default;
}

@media (min-width: 960px) {
    .container {
        perspective: 1000px;
        margin-top: 30px;
        margin-bottom: 30px;
        user-select: none;
        max-width: 580px!important;
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

ul.legend {
    padding-right: 30px;
}

form{
    margin-bottom: 10px;
}

.form-group {
    display: inline-block;
}

input{
    width: 146px;
    margin-bottom: 5px;
}

.columnNumber {
    text-align: center;
    height: 24px;
    width: 30px;
    margin: 4px;
}

span {
    padding-top: 8px;
    padding-left: 8px;
}

.seat {
    background-color: #A00000 ;
    height: 24px;
    width: 30px;
    margin: 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.4s ease 0s;
    border-style: hidden;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.4);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.seat:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

.seat:focus {
    outline: none;
}

.seat.selected {
    background-color: #19929D;
}


.seat.true{
    background-color: #707070;
}



.seat.taken {
    background-color: #707070;
}

.row {
    display:flex;
}

.screen {
    background-color: #201717;
    height: 140px;
    width: 100%;
    margin: 15px 0;
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 5px 0;
}

p.notification {
    text-align: center;
}

p.text span {
    color: #6FEAF6;
}
