#movies img, #movie img{
    width:100%;
}

@media(min-width:960px) {

    #movie h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.5em;
        letter-spacing: 0.1em;
        color: #ffffff;
        padding-bottom: 0.5em;
    }

    #movie .row {
        padding-left: 1em;
        width: 44% !important;
    }

    #movie .well {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 0.02em;
        line-height: 1.5em;
        color: #ffffff;
        margin: 15px 0 0px;
    }

    #movie .list-group {
        color: white !important;
        padding-bottom: 2em;
        width: 100%;
        padding-left: -2em;
        margin: 0;
    }

    #movie .btn-secondary {
        background-color: transparent !important;
        color: white !important;
        font-size: 16px;
        border-radius: 50%;
        border: white 1px solid;
        margin-bottom: 1em;
    }

    #movie .col-md-8 {
        margin: 0;
        padding: 0;
    }
}

body {
    overflow-x: hidden;
}

div{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 7px;
    max-width: 600px;
}

.select-box {
    display: inline-flex;
    width: 200px;
    flex-direction: column;
}

.select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background-image: url("../images/arrow-down.svg");

    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    cursor: pointer;
}

.selected {
    padding: 12px 24px;
}

.select-box .option:hover {
    background: #414b57;
}

.select-box label {
    cursor: pointer;
    display: block;
    padding: 12px 24px;
}

.select-box .option .radio {
    display: none;
}

.btn-submit {
    display: inline-block;
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 8px;
    margin-top: 0px;
    border: 0;
    background: deepskyblue;
    color: #f5f6fa;
    cursor: pointer;
}

.jumbotron {
    padding-top: 1em;
    /*background-image: url("")!important;*/
            width: 100%;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            top: -3px;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            background-size: 65% 100%;
            background-position: right;
            background-color: #060601;
            z-index: -1;
            padding-bottom: 0;
            margin: 0;
}

.jumbotron::before {
    content: '';
    background: linear-gradient(to right, #060601 50%, rgba(0, 0,0,0) 70%);
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2%;
    right: 0;
    transform: skew(18deg, 0deg);
    z-index: -1;
    height: 100%;
}





