#movies img, #movie img{
    width:100%;
}

@media(min-width:960px) {

    #movie h2 {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.5em;
        letter-spacing: 0.1em;
        color: #ffffff;
        padding-bottom: 0.5em;
    }

    #movie .row {
        padding-left: 1em;
        width: 40% !important;
    }

    #movie .well {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2em;
        font-weight: 300;
        letter-spacing: 0.02em;
        line-height: 1.5em;
        color: #ffffff;
        margin: 15px 0 0px;
    }

    #movie .list-group {
        color: white !important;
        padding-bottom: 5em;
        width: 100%;
        padding-left: -2em;
        margin: 0;
    }

    #movie .btn-secondary {
        background-color: transparent !important;
        color: white !important;
        font-size: 16px;
        border-radius: 50%;
        border: white 1px solid;
        margin-bottom: 1em;
    }

    #movie .col-md-8 {
        margin: 0;
        padding: 0;
    }
}

.jumbotron {
    padding-top: 2em;
    /*background-image: url("")!important;*/
            width: 100%;
            display: block;
            position: absolute;
            background-repeat: no-repeat;
            top: 10px;
            bottom: 10px;
            left: 0;
            right: 0;
            height: 100%;
            background-size: 70% 100%;
            background-position: right;
            z-index: -1;
}

.jumbotron::before {
    content: '';
    background: linear-gradient(to right, black 50%, rgba(0, 0,0,0) 70%);
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}





