<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KinoXP Home</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body>
    <section class="top-section">
        <div class="first-text">
            <header>WELCOME TO KINOXP</header>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Cumque doloremque eos expedita ipsum labore
               placeat possimus quidem quisquam, tempore! Quod?
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cumque doloremque eos expedita ipsum labore
                placeat possimus quidem quisquam, tempore! Quod?
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cumque doloremque eos expedita ipsum labore
                placeat possimus quidem quisquam, tempore! Quod?
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Cumque doloremque eos expedita ipsum labore
                placeat possimus quidem quisquam, tempore! Quod?
            </p>

            <form method="GET" action="/listOfMovies" class="movies-btn">
                <button type="submit">SEE THE MOVIES</button>
            </form>
        </div>
    </section>

    <section class="middle-section">
        <div class="left-part">
            <img src="nigellas-party-popcorn.jpg" alt="PopcornPicture">
        </div>

        <div class="right-part">
            <h2>Premium Experience. Premium Quality.</h2>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad aperiam assumenda consequatur cumque dicta distinctio dolor
                dolorem dolorum eum expedita explicabo inventore labore mollitia,
                non nulla obcaecati odio placeat possimus praesentium quas quasi qui quis
                quod, repellendus sunt tempore tenetur.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad aperiam assumenda consequatur cumque dicta distinctio dolor
                dolorem dolorum eum expedita explicabo inventore labore mollitia,
                non nulla obcaecati odio placeat possimus praesentium quas quasi qui quis
                quod, repellendus sunt tempore tenetur.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad aperiam assumenda consequatur cumque dicta distinctio dolor
                dolorem dolorum eum expedita explicabo inventore labore mollitia,
                non nulla obcaecati odio placeat possimus praesentium quas quasi qui quis
                quod, repellendus sunt tempore tenetur.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Ad aperiam assumenda consequatur cumque dicta distinctio dolor
                dolorem dolorum eum expedita explicabo inventore labore mollitia,
                non nulla obcaecati odio placeat possimus praesentium quas quasi qui quis
                quod, repellendus sunt tempore tenetur.
            </p>
        </div>
    </section>

    <section class="bottom-section">
        <div class="bottom-left">
            <ul>
                <li>TELEPHONE NUMBER</li>
                <li>+1234567890</li>
                <li>E-MAIL</li>
                <li>kinoXP@gmail.com</li>
                <li>ADDRESS</li>
                <li>imaginaryAddressgade 21</li>
            </ul>
        </div>

        <div class="bottom-right">
            <ul> Useful links:
                <li>Link 1</li>
                <li>Link 2</li>
                <li>Link 3</li>
                <li>Link 4</li>
            </ul>
        </div>
    </section>


</body>
</html>