<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Showtime</title>
</head>
<body>
<form action="#" th:action="@{|/saveShowtimeSplit/${showtimeSplit.movieId}|}" th:object="${showtimeSplit}" method="post">
    Room number:
    <select th:field="*{roomId}">
        <option value="1">1</option>
        <option value="2">2</option>
    </select> </br>
    Date: <input type="date" name="date" th:field="*{date}"/><br/>
    Time: <input type="time" name="time" th:field="*{time}"/></br>
    <button name="submit" type="submit" value="0">Submit</button>
</form>
</body>
</html>