<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Showtime - Movie X</title>
</head>
<body>

<h2 th:text="${title}"></h2>
<h3>Showtimes for the following week: </h3>

<form action="#" th:action="@{|/anotherMovie/|}" th:object="${moviePojo}" method="post">
    <select th:field="*{id}">
        <option th:each="movie : ${movies}"
                th:value="${movie.id}"
                th:text="${movie.title}">
        </option>
    </select>
    <button name="submit" type="submit" value="0">Go</button>
</form>
<br>
<table>
    <tr th:each="day, stat : ${days}">
        <div th:if="${not #lists.isEmpty(day)}">
            <td th:text="${#temporals.format(day[0].dateTime, 'dd/MMM/yyyy')}">
            </td>
        </div>
        <!--<span th:text="${#temporals.format(day1[0].dateTime, 'dd/MMM/yyyy')}"> </span>-->
        <td th:each="showtime : ${day}">
            &nbsp;
            <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                Link with showtime
            </a>

            <span th:text="R+${showtime.roomId}"></span>

            <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
            <button>Del</button>
            &nbsp;
        </td>

    </tr>
</table>

<br>
<br>

<h3>Create new showtime for the movie: </h3>

<br>

<form action="#" th:action="@{|/saveShowtimeSplit/${showtimeSplit.movieId}|}" th:object="${showtimeSplit}" method="post">
    Room number:
    <select th:field="*{roomId}">
        <option value="1">1</option>
        <option value="2">2</option>
    </select> </br>
    Date: <input type="date" name="date" th:field="*{date}"/><br/>
    Time: <input type="time" name="time" th:field="*{time}"/></br>
    <button name="submit" type="submit" value="0">Submit</button>
</form>

<br>
<br>
<h4>Find showtimes for a specific date: </h4>
<br>
<form th:action="@{|/showtime/${movieId}|}" method="get">
    <input id="dateSelected" type="date" name="dateSelected" th:min="${today}" placeholder="selectDate">
    <button type="submit">Search</button>
</form>
<br>
<div th:if="${d}">
    <table border="1" style="width: auto">
        <thead>
        <tr>
            <br>
            <b>
                <span th:text="${#temporals.format(date[0].dateTime, 'dd/MMM/yyyy')}"> </span> &nbsp;
                <span th:text="${#temporals.dayOfWeekName(date[0].dateTime)}"></span>
            </b>
            <br>
            <th>Time</th>
            <th>Room</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="showtime: ${date}">
            <td>
                <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                    Link with showtime
                </a>
            </td>
            <!--<td> <a th:href="@{'/testTicket/'+${showtime.id}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}"/></td>-->
            <td th:text="${showtime.roomId}"/>
            <td>insert</td>
            <td>
                <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
                <button>Del</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>