<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Showtime - Movie X</title>
</head>
<body>

<!-- ............................................... Day 1 ............................................... -->
<div th:if="${not #lists.isEmpty(day1)}">
    <table border="1" style="width: auto">
        <thead>
        <tr>
            <b>
            <span th:text="${#temporals.format(day1[0].dateTime, 'dd/MMM/yyyy')}"> </span> &nbsp;
            <span th:text="${#temporals.dayOfWeekName(day1[0].dateTime)}"></span>
            </b>
            <th>Time</th>
            <th>Room</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="showtime: ${day1}">
            <td>
                <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                    Link with showtime
                </a>
            </td>
            <!--<td> <a th:href="@{'/testTicket/'+${showtime.id}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}"/></td>-->
            <td th:text="${showtime.roomId}"/>
            <td>insert</td>
            <td th:if="${edit}">
                <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
                <button>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<!-- ............................................... Day 2 ............................................... -->
<div th:if="${not #lists.isEmpty(day2)}">
    <table border="1" style="width: auto">
        <thead>
        <tr>
            <b>
                <span th:text="${#temporals.format(day2[0].dateTime, 'dd/MMM/yyyy')}"> </span> &nbsp;
                <span th:text="${#temporals.dayOfWeekName(day2[0].dateTime)}"></span>
            </b>
            <th>Time</th>
            <th>Room</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="showtime: ${day2}">
            <td>
                <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                    Link with showtime
                </a>
            </td>
            <!--<td> <a th:href="@{'/testTicket/'+${showtime.id}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}"/></td>-->
            <td th:text="${showtime.roomId}"/>
            <td>insert</td>
            <td th:if="${edit}">
                <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
                <button>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<!-- ............................................... Day 3 ............................................... -->
<div th:if="${not #lists.isEmpty(day3)}">
    <!--<span th:text="${day3Date}"></span>-->
    <table border="1" style="width: auto">
        <thead>
        <tr>
            <b>
                <span th:text="${#temporals.format(day3[0].dateTime, 'dd/MMM/yyyy')}"> </span> &nbsp;
                <span th:text="${#temporals.dayOfWeekName(day3[0].dateTime)}"></span>
            </b>
            <th>Time</th>
            <th>Room</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="showtime: ${day3}">
            <td>
                <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                    Link with showtime
                </a>
            </td>
            <!--<td> <a th:href="@{'/testTicket/'+${showtime.id}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}"/></td>-->
            <td th:text="${showtime.roomId}"/>
            <td>insert</td>
            <td th:if="${edit}">
                <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
                <button>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<!-- ............................................... Day 4 ............................................... -->
<div th:if="${not #lists.isEmpty(day4)}">
    <!--<span th:text="${day4Date}"></span>-->
    <table border="1" style="width: auto">
        <thead>
        <tr>
            <b>
                <span th:text="${#temporals.format(day4[0].dateTime, 'dd/MMM/yyyy')}"> </span> &nbsp;
                <span th:text="${#temporals.dayOfWeekName(day4[0].dateTime)}"></span>
            </b>
            <th>Time</th>
            <th>Room</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="showtime: ${day4}">
            <td>
                <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                    Link with showtime
                </a>
            </td>
            <!--<td> <a th:href="@{'/testTicket/'+${showtime.id}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}"/></td>-->
            <td th:text="${showtime.roomId}"/>
            <td>insert</td>
            <td th:if="${edit}">
                <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
                <button>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<!-- ............................................... Day 5 ............................................... -->
<div th:if="${not #lists.isEmpty(day5)}">
    <!--<span th:text="${day5Date}"></span>-->
    <table border="1" style="width: auto">
        <thead>
        <tr>
            <b>
                <span th:text="${#temporals.format(day5[0].dateTime, 'dd/MMM/yyyy')}"> </span> &nbsp;
                <span th:text="${#temporals.dayOfWeekName(day5[0].dateTime)}"></span>
            </b>
            <th>Time</th>
            <th>Room</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="showtime: ${day5}">
            <td>
                <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                    Link with showtime
                </a>
            </td>
            <!--<td> <a th:href="@{'/testTicket/'+${showtime.id}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}"/></td>-->
            <td th:text="${showtime.roomId}"/>
            <td>insert</td>
            <td th:if="${edit}">
                <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
                <button>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<!-- ............................................... Day 6 ............................................... -->
<div th:if="${not #lists.isEmpty(day6)}">
    <!--<span th:text="${day6Date}"></span>-->
    <table border="1" style="width: auto">
        <thead>
        <tr>
            <b>
                <span th:text="${#temporals.format(day6[0].dateTime, 'dd/MMM/yyyy')}"> </span> &nbsp;
                <span th:text="${#temporals.dayOfWeekName(day6[0].dateTime)}"></span>
            </b>
            <th>Time</th>
            <th>Room</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="showtime: ${day6}">
            <td>
                <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                    Link with showtime
                </a>
            </td>
            <!--<td> <a th:href="@{'/testTicket/'+${showtime.id}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}"/></td>-->
            <td th:text="${showtime.roomId}"/>
            <td>insert</td>
            <td th:if="${edit}">
                <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
                <button>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<!-- ............................................... Day 7 ............................................... -->
<div th:if="${not #lists.isEmpty(day7)}">
    <!--<span th:text="${day7Date}"></span>-->
    <table border="1" style="width: auto">
        <thead>
        <tr>
            <b>
                <span th:text="${#temporals.format(day7[0].dateTime, 'dd/MMM/yyyy')}"> </span> &nbsp;
                <span th:text="${#temporals.dayOfWeekName(day7[0].dateTime)}"></span>
            </b>
            <th>Time</th>
            <th>Room</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="showtime: ${day7}">
            <td>
                <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                    Link with showtime
                </a>
            </td>
            <!--<td> <a th:href="@{'/testTicket/'+${showtime.id}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}"/></td>-->
            <td th:text="${showtime.roomId}"/>
            <td>insert</td>
            <td th:if="${edit}">
                <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
                <button>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
<div th:if="${create}">
    <br>
    <br>
    <h5>Hey Admin!</h5>
    <a th:href="@{'/newShowtime/'+${movieId}}"/>
    <button>Create New Showtime For this movie</button>
</div>

</body>
</html>