<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>specificDate</title>
</head>
<body>

<form th:action="@{|/specificDate/${movieId}|}" method="get">
    <input id="dateSelected" type="date" name="dateSelected" th:min="${today}" placeholder="selectDate">
    <button type="submit">Search</button>
</form>
<!-- ............................................... Day 1 ............................................... -->
<div th:if="${not #lists.isEmpty(day1)}">
    <table border="1" style="width: auto">
        <thead>
        <tr>
            <b>
                <span th:text="${#temporals.format(day1[0].dateTime, 'dd/MMM/yyyy')}"> </span> &nbsp;
                <span th:text="${#temporals.dayOfWeekName(day1[0].dateTime)}"></span>
            </b>
            <th>Time</th>
            <th>Room</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="showtime: ${day1}">
            <td>
                <a th:href="@{'/testTicket/'+${showtime.id}}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}">
                    Link with showtime
                </a>
            </td>
            <!--<td> <a th:href="@{'/testTicket/'+${showtime.id}" th:text="${#temporals.format(showtime.dateTime, 'HH:mm')}"/></td>-->
            <td th:text="${showtime.roomId}"/>
            <td>insert</td>
            <td th:if="${edit}">
                <a th:href="@{'/deleteShowtime/'+${showtime.id}}"/>
                <button>Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>